{% extends '::backend.html.twig' %}

{% block article %}
    <h1>Oferta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Fechapublicacion</th>
                <th>Fechaexpiracion</th>
                <th>Compras</th>
                <th>Umbral</th>
                <th>Revisada</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('oferta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.precio }}</td>
                <td>{{ entity.descuento }}</td>
                <td>{% if entity.fechaPublicacion %}{{ entity.fechaPublicacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaExpiracion %}{{ entity.fechaExpiracion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.compras }}</td>
                <td>{{ entity.umbral }}</td>
                <td>{{ entity.revisada }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('oferta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('oferta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {{ simple_paginator_render('backend_oferta', null, {
		'container_class': 'paginador',
		'previousPageText': 'Anterior',
		'nextPageText': 'Siguiente',
		'currentClass': 'actual',
		'firstPageText': 'Primera',
		'lastPageText': 'Última'
	}) }}


        <ul>
        <li>
            <a href="{{ path('oferta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
